<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">Live Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if author_signed_in? %>
           <li><%= link_to "New Post", new_post_path %></li>
           <li><%= link_to "Sign Out", destroy_author_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_author_registration_path %></li>
          <li><%= link_to "Sign In", new_author_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
